@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;1,300&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    /* background: rgb(2,0,36); */
    background: radial-gradient(circle, rgba(2,0,36,1) 60%, rgba(42,130,148,1) 100%);
}
.titulo{
    /* background-color:rgba(2,0,36,1); */
    font-size: 20px;
    margin-bottom: 7vh;
}


footer{
    color: white;
    position: fixed;
    bottom: 0;
    background-color:rgba(2,0,36,1);
    width: 100%;
}





/* ------------CARTAS------------ */

.trabajos{
    width: auto;
    padding: 5vh;
    color: white;
}

.tps{
    border: solid 5px rgb(22, 121, 141);
    /* background-color: aliceblue; */
    height: 55vh;
    width: 30vh;
    margin: 5vh;

}

.img{
    height: 17vh;
    background-color: rgb(14, 72, 83);
}

.text{
    font-size: 18px;
}



/* ------------HOVER------------ */

.button {
    border-radius: 4px;
    background-color: #f4511e;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 15px;
    padding: 10px;
    height: 35px;
    width: 100px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 2px;
    align-items: center;
  }
  
  .button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .button:hover span {
    padding-right: 25px;
  }
  
  .button:hover span:after {
    opacity: 1;
    right: 0;
  }



/* ------------TIPOGRAFÍAS------------ */

.merryw{
    font-family: 'Merriweather', serif;
}

.f13{
    font-size: 13px;
}

/* ------------COLORES------------ */

.white{
    color: white;
}

/* ------------ORDENAMIENTOS------------ */
.dflex{
    display: flex;
}

.wrap{
    flex-wrap: wrap;
}

.ider{
    align-items: flex-end;
}
.itm-ctr{
    align-items: center;
}

.column{
    flex-direction: column;
}
.jcenter{
    justify-content: center;
}
.f-end{
    justify-content: flex-end;
}