@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;1,300&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    /* background: rgb(2,0,36); */
    background: radial-gradient(circle, rgba(2,0,36,1) 60%, rgba(42,130,148,1) 100%);
}
.titulo{
    /* background-color:rgba(2,0,36,1); */
    font-size: 20px;
    margin-bottom: 7vh;
}


footer{
    color: white;
    position: fixed;
    bottom: 0;
    background-color:rgba(2,0,36,1);
    width: 100%;
}





/* ------------CARTAS------------ */

.trabajos{
    width: auto;
    padding: 5vh;
}

.tps{
    border: solid 5px rgb(22, 121, 141);
    background-color: aliceblue;
    height: 45vh;
    width: 25vh;
    margin: 5vh;

}

.img{
    height: 17vh;
    background-color: rgb(14, 72, 83);
}

.text{
    font-size: 18px;
}

/* ------------TIPOGRAFÍAS------------ */

.merryw{
    font-family: 'Merriweather', serif;
}

.f13{
    font-size: 13px;
}

/* ------------COLORES------------ */

.white{
    color: white;
}

/* ------------ORDENAMIENTOS------------ */
.dflex{
    display: flex;
}

.wrap{
    flex-wrap: wrap;
}

.ider{
    align-items: flex-end;
}
.column{
    flex-direction: column;
}
.jcenter{
    justify-content: center;
}