
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color:antiquewhite;
    /* padding: 5px; */
}

header{
    /* position: absolute; */
    background-color: #93ffdb;
    height: 30vw;
    display: flex;
    justify-content: center;
    align-items: center;
    
}


/*/----------------PERFIL----------------/*/
.perfil{
    /* position: relative; */
    position: absolute;
    /* bottom: -9px;
    top: 10px; */
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: auto;
}
.usuario{
    position: relative;
    bottom: -9px;
    top: 100px;
    background-color: gray;
    height: 150px;
    width: 150px;
    border-radius: 60%;
    /* align-content: center; */
}
.nombre{
    margin-top: 10px;
    font-size: 15px;
    position: relative;
    bottom: -9px;
    top: 190px;
}


/*/----------------POSTS----------------/*/
.posts{
    margin: 100px 30px;
}
.carta{
    background-color: rgb(255 224 185);
    border: solid 1px;
    border-radius: 20px;
    position: relative;
    height:max-content;
    display: flex;
    /* flex-direction: row; */
    flex-wrap: wrap;
    margin: 30px 0;
    padding: 10px;
    
}
.carta .foto{
    background-color: gray;
    border-radius: 100px;
    height: 25px;
    width: 25px;
    margin: 10px;
}
.carta .personal{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 5px;
}
.personal .papi{
    display: flex;
}
.papi .nuser .name{
    font-size: 20px;
}
.papi .nuser .esp{
    font-size: 10px;
}

.detalles{
    /* position:absolute;
    right: 0;
    top: 0; */
    font-size: 20px;
}
.art{
    margin-bottom: 5px;
}
.comen{
    width: 100%;
    display: flex;
    align-content: center;
    justify-content: space-between;
}
.comen{
    border: 0;
    background-color: aquamarine;
    border-radius: 50px;
    padding: 5px;
}

/*/----------------EXTRA----------------/*/

.cora{
    position: fixed;
    top: 0;
    right: 0;
}

/*/----------------FOOTER----------------/*/

footer{
    background-color:#93ffdb;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-decoration: none;
    left: 0px;
}
footer a:active, footer a:link, footer a:visited{
    text-decoration: none;
    height: 60px;
    line-height: 60px;
    color: rgb(3, 3, 3);

}
footer a:hover{
    border-top: solid 4px aquamarine;
    color: black;
    height: 56px;
}