@media screen and (max-width:662px) {
    ::-webkit-scrollbar {
        height: 0px;
     
    }
    .ofresto {width: 96%; margin: auto; }
    .caja_texto{width: 250px;}
    .tx15{font-size: 12pt;}
}

